@model GG_Shop_v3.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="content-page">
    <div class="container-fluid">

        <h3>Bạn có chắc chắn muốn xóa người dùng sau?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tên tài khoản
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Mật khẩu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    Tên người dùng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Full_Name)
                </dd>

                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone_Number)
                </dd>

                <dt>
                    Quốc gia
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>

                <dt>
                    Số đơn hàng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Orders)
                </dd>

                <dt>
                    Cấp độ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rank)
                </dd>

                <dt>
                    Chi tiêu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Total_Spent)
                </dd>

                <dt>
                    Vai trò
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    <input type="submit" value="Xóa" class="btn btn-primary mr-2" />
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
