@model GG_Shop_v3.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Promotion.PromoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promotion.PromoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipping_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipping_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
